<%- include('partials/_header.ejs'); %>
    <%- include('partials/_navigation.ejs'); %>

        <div class="all-title-box">
            <div class="container text-center">
                <h1>Hakkımızda<span class="m_1"></span></h1>
            </div>
        </div>

        <div id="overviews" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>Hakkımızda</h3>
                        <p class="lead">Kullanıcılarımızın ihtiyaçlarını en üst düzeyde karşılamak için burada olmaktan
                            gurur duyuyoruz. Öğrencilerimize ve öğretmenlerimize sunduğumuz üstün hizmetler ile eğitimde
                            fark yaratıyoruz.

                            Gelişmiş destek sistemimizle, eğitim sürecini daha verimli ve etkili hale getiriyoruz. İster
                            ders ilanı vermek isteyen öğretmen olun, ister ders kaydı yapmak isteyen öğrenci, her adımda
                            yanınızdayız.</p>
                    </div>
                </div><!-- end title -->

                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h2>Ders İlanları ve Kayıt Süreçleri</h2>
                            <p>Öğretmenlerimiz, sitemiz üzerinden ders ilanları verebilir ve öğrencilerine kolayca
                                ulaşabilirler. Öğrencilerimiz ise ders kayıt işlemlerini hızlı ve güvenli bir şekilde
                                gerçekleştirebilirler.</p>

                            <p> Ön kayıt sürecimiz ile derslerinize önceden kayıt yaparak yerinizi
                                garantileyebilirsiniz. Eğitim hayatınızı daha planlı ve düzenli hale getirmenize
                                yardımcı oluyoruz.
                                Her zaman yanınızdayız. Eğitim hayatınızı kolaylaştırmak ve sizi desteklemek için
                                buradayız. </p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_02.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_03.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h2>Sürekli Eğitim Merkezi ile Entegre Çalışma</h2>
                            <p>Eğitim hiç bitmeyen bir süreçtir. Bu prensip doğrultusunda, Sürekli Eğitim Merkezi ile
                                entegre olarak çalışıyoruz. Kullanıcılarımız, bu merkezden ders taleplerinde bulunabilir
                                ve çeşitli eğitim programlarına kayıt yapabilirler. </p>
                            <p>
                                Öğretmenlerimiz, Sürekli Eğitim Merkezi'nde ders ilanları açarak geniş bir öğrenci
                                kitlesine ulaşabilirler. Öğrencilerimiz ise bu merkezdeki çeşitli ders seçeneklerinden
                                yararlanarak kendilerini geliştirebilirler.
                            </p>
                            <p>
                                Eğitimde sınır tanımıyoruz. Sürekli eğitim imkanları ile her zaman, her yerde öğrenmeye
                                devam edin.</p>

                            <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus
                                faucibus bibendum.</p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="hmv-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                            <h3>Mission</h3>
                            <div class="tr-pa">M</div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita,
                                provident cupiditate in excepturi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                            <h3>Vision</h3>
                            <div class="tr-pa">V</div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita,
                                provident cupiditate in excepturi.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                            <h3>History</h3>
                            <div class="tr-pa">H</div>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita,
                                provident cupiditate in excepturi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="testimonials" class="parallax section db parallax-off"
            style="background-image:url('images/parallax_04.jpg');">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Testimonials</h3>
                    <p>Lorem ipsum dolor sit aet, consectetur adipisicing lit sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. </p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="testi-carousel owl-carousel owl-theme">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_01.png" alt="" class="img-fluid">
                                    <h4>James Fernando </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                    <p class="lead">They have got my project on time with the competition with a sed
                                        highly skilled, and experienced & professional team.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_02.png" alt="" class="img-fluid">
                                    <h4>Jacques Philips </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and I will give you completed.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_03.png" alt="" class="img-fluid ">
                                    <h4>Venanda Mercy </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids
                                        pleasure itself, because it is very pursue pleasure. </p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_01.png" alt="" class="img-fluid">
                                    <h4>James Fernando </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                    <p class="lead">They have got my project on time with the competition with a sed
                                        highly skilled, and experienced & professional team.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_02.png" alt="" class="img-fluid">
                                    <h4>Jacques Philips </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and I will give you completed.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_03.png" alt="" class="img-fluid">
                                    <h4>Venanda Mercy </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids
                                        pleasure itself, because it is very pursue pleasure. </p>
                                </div>
                                <!-- end testi-meta -->
                            </div><!-- end testimonial -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <%- include('partials/_footer.ejs'); %>