<%- include('partials/_header.ejs'); %>
    <%- include('partials/_navigation.ejs'); %>

        <div class="all-title-box">
            <div class="container text-center">
                <h1>Hakkımızda<span class="m_1"></span></h1>
            </div>
        </div>

        <div id="overviews" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>Hakkımızda</h3>
                        <p class="lead">Kullanıcılarımızın ihtiyaçlarını en üst düzeyde karşılamak için burada olmaktan
                            gurur duyuyoruz. Öğrencilerimize ve öğretmenlerimize sunduğumuz üstün hizmetler ile eğitimde
                            fark yaratıyoruz.

                            Gelişmiş destek sistemimizle, eğitim sürecini daha verimli ve etkili hale getiriyoruz. İster
                            ders ilanı vermek isteyen öğretmen olun, ister ders kaydı yapmak isteyen öğrenci, her adımda
                            yanınızdayız.</p>
                    </div>
                </div><!-- end title -->

                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h2>Ders İlanları ve Kayıt Süreçleri</h2>
                            <p>Öğretmenlerimiz, sitemiz üzerinden ders ilanları verebilir ve öğrencilerine kolayca
                                ulaşabilirler. Öğrencilerimiz ise ders kayıt işlemlerini hızlı ve güvenli bir şekilde
                                gerçekleştirebilirler.</p>

                            <p> Ön kayıt sürecimiz ile derslerinize önceden kayıt yaparak yerinizi
                                garantileyebilirsiniz. Eğitim hayatınızı daha planlı ve düzenli hale getirmenize
                                yardımcı oluyoruz.
                                Her zaman yanınızdayız. Eğitim hayatınızı kolaylaştırmak ve sizi desteklemek için
                                buradayız. </p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_02.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_03.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h2>Sürekli Eğitim Merkezi ile Entegre Çalışma</h2>
                            <p>Eğitim hiç bitmeyen bir süreçtir. Bu prensip doğrultusunda, Sürekli Eğitim Merkezi ile
                                entegre olarak çalışıyoruz. Kullanıcılarımız, bu merkezden ders taleplerinde bulunabilir
                                ve çeşitli eğitim programlarına kayıt yapabilirler. </p>
                            <p>
                                Öğretmenlerimiz, Sürekli Eğitim Merkezi'nde ders ilanları açarak geniş bir öğrenci
                                kitlesine ulaşabilirler. Öğrencilerimiz ise bu merkezdeki çeşitli ders seçeneklerinden
                                yararlanarak kendilerini geliştirebilirler.
                            </p>
                            <p>
                                Eğitimde sınır tanımıyoruz. Sürekli eğitim imkanları ile her zaman, her yerde öğrenmeye
                                devam edin.</p>

                            <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus
                                faucibus bibendum.</p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="hmv-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                            <h3>Misyon</h3>
                            <div class="tr-pa">M</div>
                            <p>Bursa Teknik Üniversitesi Sürekli Eğitim Merkezi (SEM) ile entegre çalışan bu online
                                eğitim platformunun misyonu, eğitmenlerin kolayca kurs oluşturabilmesini ve
                                kursiyerlerin istedikleri kurslara erişebilmesini sağlayarak, eğitim süreçlerini
                                dijitalleştirip daha etkili ve erişilebilir hale getirmektir. Amacımız, eğitim ve
                                öğretim süreçlerini kolaylaştırmak, kullanıcı dostu bir platform sunarak hem
                                eğitmenlerin hem de kursiyerlerin ihtiyaçlarını en iyi şekilde karşılamaktır.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                            <h3>Vizyon</h3>
                            <p>Bu platformun vizyonu, Bursa Teknik Üniversitesi SEM'in dijital dönüşüm sürecine katkıda
                                bulunarak, tüm Türkiye'de ve dünya genelinde tanınan, güvenilir ve yenilikçi bir online
                                eğitim merkezi haline gelmektir. Eğitimin sınırlarını genişleterek, her yerden ve her
                                zaman erişilebilen, modern ve etkili bir öğrenme ortamı sunmak; eğitmenlerin ve
                                kursiyerlerin eğitim deneyimlerini en üst düzeye çıkarmak hedeflenmektedir. Platformun
                                sunduğu esneklik ve erişilebilirlik ile hayat boyu öğrenmeyi teşvik eden öncü bir eğitim
                                aracı olmayı amaçlıyoruz.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                            <h3>Değerler</h3>
                            <div class="tr-pa">H</div>
                            <p><b>Kullanıcı Memnuniyeti:</b> <br>
                                Kullanıcılarımızın ihtiyaçlarını ve beklentilerini karşılamak önceliğimizdir.
                                Eğitmenler, kursiyerler ve adminlerin platformu kolaylıkla kullanabilmesi ve
                                memnuniyetlerini sağlamayı hedefleriz.
                                <br>
                                <b>Yenilikçilik:</b> <br>

                                Eğitim teknolojilerinde sürekli olarak yenilikçi çözümler sunmak için çalışırız. En
                                güncel teknolojileri kullanarak platformumuzu sürekli geliştirir ve kullanıcılarımıza en
                                iyi deneyimi sunarız.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <%- include('partials/_footer.ejs'); %>