.aaa{
    background-color: #1976D2;
    margin: 8px;
}
.logo-img{
    width: 150px;
}
.login-card{
    border: black 1px solid;
    padding: 4rem;
    margin-bottom: 5rem;
}

.contact_form {
    background: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: auto; 
}

.contact_form input[type="text"], 
.contact_form input[type="email"], 
.contact_form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box; 
}

.contact_form button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    font-size: 16px; 
}

.contact_form button:hover {
    background-color: #0056b3; /
}
